.video-info-box{
    display: grid;
    grid-template: auto auto / 58px auto max-content;
    /*  max-content so that the text in the subscribe button never wraps. */
    align-items: center;
    grid-row-gap: 16px;
}
.channel-image{
   grid-row: 1/2;
   grid-column: 1/2;
}
.video-info{
    grid-row: 1/2;
    grid-column: 2/3;
}
.channel-name {
    font-weight: 600;
    cursor: pointer;
}
.video-publication-date {
    font-size: 13px;
    color: #707070;
}
.subscribe {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.video-description{
    max-width: 615px;
    grid-row: 2/3;
    grid-column: 2/3;
}
.button{
    margin: 8px 0;
}
.video-description p 
{
    line-height: 1.4rem;
    margin-bottom: 0;
}

.video-description .collapsed {
  max-height: 4.2rem;
  overflow-y: hidden;
}

.video-description .expanded {
   max-height: none;
}