.subscription{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.3rem ;
}
.subscription-title-wrapper{
    display: flex;
    align-items: center;
}
.subscription-title-wrapper img{
    padding-right: 0.3rem;
}
.subscriprion-update{
color: red;
}
